.checkbox {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}
.checkbox span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}
.checkbox span:first-child {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #5c5c5c;
	transition: all 0.2s ease;
}
.checkbox span:first-child svg {
	position: absolute;
	z-index: 1;
	top: 8px;
	left: 6px;
	fill: none;
	stroke: white;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}
.checkbox span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #506eec;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
	transition-delay: 0.2s;
}

.checkbox:hover span:first-child {
	border-color: #3c53c7;
}

.inp-checkbox:checked + .checkbox span:first-child {
	border-color: #3c53c7;
	background: #3c53c7;
	animation: check 0.6s ease;
}
.inp-checkbox:checked + .checkbox span:first-child svg {
	stroke-dashoffset: 0;
}
.inp-checkbox:checked + .checkbox span:first-child:before {
	transform: scale(2.2);
	opacity: 0;
	transition: all 0.6s ease;
}

@keyframes check {
	50% {
		transform: scale(1.2);
	}
}

.checkbox-line::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	height: 1px;
	width: 100%;
	background: #b9b8c3;
	transform-origin: 0 0;
	transform: scaleX(0);

	transform: scaleX(1);
}

.checkbox-line {
	color: #b9b8c3;
	transition: all 0.3s ease;
}
