@media only screen and (max-width: 900px) {
	html {
		font-size: 50%;
	}

	body {
		padding: 0 2rem;
	}

	.search-container {
		flex-basis: 100%;
		text-align: center;
		margin: 3rem 0;
	}
	.features {
		flex-wrap: wrap;
	}

	.addition,
	.error {
		width: 100%;
	}

	.item-container {
		width: 100%;
		margin: 1rem auto;
	}
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 50%;
	}
	.header__title--main {
		padding-top: 5rem;

		font-size: 3rem;
		letter-spacing: 0.5rem;
	}
	.header__title--sub {
		margin-top: 1rem;
		letter-spacing: 0.2rem;
		font-size: 1.8rem;
	}
	.header__title--sub span {
		display: block;
		height: 1rem;
	}
	.features {
		margin-top: 0;
	}
	.item {
		font-size: 0.9rem;
	}
}
